<div class="content">
  <div class="title">Colaboradores Inscritos</div>

  <div class="mat-elevation-z8 content-table">
    <table class="table" mat-table [dataSource]="colaboradores">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>NOME</th>
        <td mat-cell *matCellDef="let row">{{ row.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef>CPF</th>
        <td mat-cell *matCellDef="let row">{{ row.cpf }}</td>
      </ng-container>

      <ng-container matColumnDef="alimentos">
        <th mat-header-cell *matHeaderCellDef>ALIMENTOS</th>
        <td mat-cell *matCellDef="let row">
          {{ row.alimentos }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
