.home{
    width: 95%;
    margin: 1rem auto;
}
img{
    height: 78%;
    margin-left: 1.8rem;
   
    }
@media(max-with: 410px){
    .home{
        width: 70%;
    }
}
@media(max-with: 750px){
    .home{
        width: 80%;
    }
}